.tile {
  background: #c0c0c0;
  border-top: 2px solid #fdfdfd;
  border-left: 2px solid #fdfdfd;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
  box-sizing: border-box;
  min-width: var(--grid-cell);
  min-height: var(--grid-cell);
  height: var(--grid-cell);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.tile_hint {
  background: rgb(192 192 192);
  border: 1px solid rgb(153 153 153);
}

.tile_brick:not(.tile_mine):not(.tile_exploded):not(.tile_not_clickable):hover {
  background: #ccc;
  cursor: pointer;
}

.tile_brick:focus-visible {
  outline: #060084 auto 2px;
}

.tile_hint-1 {
  color: black;
}
.tile_hint-2 {
  color: indigo;
}
.tile_hint-3 {
  color: purple;
}
.tile_hint-4 {
  color: blue;
}
.tile_hint-5 {
  color: green;
}
.tile_hint-6 {
  color: yellow;
}
.tile_hint-7 {
  color: orange;
}
.tile_hint-8 {
  color: red;
}

.tile_flag:before {
  color: red;
  content: 'F';
}

.tile_mine,
.tile_exploded {
  background-image: url('./mine.png');
  background-size: cover;
}

.tile_exploded {
  background-color: red;
}

